@import 'tailwindcss';

.pb-full {
  padding-bottom: 100%;
}

.bioclass{
  color: #8E8E8E;
}

/* hide search icon on search focus */
.search-bar:focus + .fa-search{
  display: none;
}

@media screen and (min-width: 768px) {
  .post:hover .overlay {
    display: block;
  }
}

/* Animate Icon */
@layer components {
  .btn {
    @apply h-7  hover:scale-125 transition-transform duration-200 ease-out cursor-pointer;
  }
}

/* Hide scrollbar */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

/* Story animation */
:root {
  --color-bg: black;
  --color-red: #ff302b;
  --font-weight-body: 400;
  --site-padding: 2rem;
}

body {
  background-color: black;
}

#svelte,
.transition {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

#svelte > *,
.transition > * {
  grid-row: 1;
  grid-column: 1;
  min-width: 0;
  min-height: 0;
}